<footer id="footer" class="top-space">

  <div class="">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">

          <div class="widget-body">

          </div>
        </div>




      </div>
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">



        <div class="col-md-12 widget">
          <div class="widget-body">
            <p class="text-center">
              Amine {{ date | date:'d/M/y' }}
                    {{ date | date:'HH:mm:ss' }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

</footer>
