<!-- /.navbar -->
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light navbar-inverse222 ">
  <a class="navbar-brand" href="#">CRUD/Posts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>

      </li>
      <li class="nav-item" *ngIf="!(authService.isAuthSubject|async)">
        <a class="nav-link" routerLink="login">Login</a>


      </li>     <li class="nav-item" *ngIf="!(authService.isAuthSubject|async)">
        <a class="nav-link" routerLink="register">Register</a>


      </li>
      <li class="nav-item dropdown" *ngIf="(authService.isAuthSubject|async)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ ((authService.userSubject)|async).identity }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/logout">Logout</a>

        </div>
      </li>

    </ul>

  </div>
</nav>
</div>
